Source: lubuntu-update-notifier
Section: admin
Priority: optional
Maintainer: Hans P. Möller <hmoller@lubuntu.me>
Build-Depends: debhelper (>=11~),
               dh-python,
               python3-apt,
               python3-all,
               python3-setuptools,
Standards-Version: 4.0.0

Package: lubuntu-update-notifier
Architecture: all
Depends: ${shlibs:Depends}, ${python3:Depends}, ${misc:Depends},
 update-notifier-common, aptdaemon, debconf-kde-helper, python3-pyqt5,
 python3, python3-aptdaemon (>= 0.6.20ubuntu16)
Description: Daemon which notifies about package updates
 Opens a window when package updates are available.
 It also allows to do a full upgrade, aka dist-upgrade.

