[Desktop Entry]
Exec=lxqt-sudo /usr/bin/lubuntu-upgrader --cache-update --full-upgrade
Name=Apply Full Upgrade
GenericName=Apply Full Upgrade
Comment=Search and Apply Full Upgrade
Icon=system-software-update
Type=Application
Version=0.1
Categories=System;Settings;
Keywords=upgrade;update
Terminal=false

Name[ar]=تطبيق الترقية الكاملة
GenericName[ar]=تطبيق الترقية الكاملة
Comment[ar]=بحث وتطبيق الترقية الكاملة
Name[bg]=Приложете пълно надграждане
GenericName[bg]=Приложете пълно надграждане
Comment[bg]=Търсете и прилагайте пълно надграждане
Name[ca]=Aplica l'actualització completa
GenericName[ca]=Aplica l'actualització completa
Comment[ca]=Cerca i aplica l'actualització completa
Name[cs]=Použít úplný upgrade
GenericName[cs]=Použít úplný upgrade
Comment[cs]=Vyhledejte a použijte úplný upgrade
Name[da]=Anvend fuld opgradering
GenericName[da]=Anvend fuld opgradering
Comment[da]=Søg og anvend fuld opgradering
Name[de]=Vollständiges Upgrade anwenden
GenericName[de]=Vollständiges Upgrade anwenden
Comment[de]=Vollständiges Upgrade suchen und anwenden
Name[el]=Εφαρμογή πλήρους αναβάθμισης
GenericName[el]=Εφαρμογή πλήρους αναβάθμισης
Comment[el]=Αναζήτηση και εφαρμογή πλήρους αναβάθμισης
Name[es]=Aplicar actualización completa
GenericName[es]=Aplicar actualización completa
Comment[es]=Buscar y aplicar la actualización completa
Name[et]=Rakendage täielikku täiendust
GenericName[et]=Rakendage täielikku täiendust
Comment[et]=Otsige ja rakendage täielikku versiooniuuendust
Name[fr]=Appliquer la mise à niveau complète
GenericName[fr]=Appliquer la mise à niveau complète
Comment[fr]=Rechercher et appliquer la mise à niveau complète
Name[gl]=Aplicar a actualización completa
GenericName[gl]=Aplicar a actualización completa
Comment[gl]=Busca e aplica a actualización completa
Name[he]=החל שדרוג מלא
GenericName[he]=החל שדרוג מלא
Comment[he]=חפש והחל שדרוג מלא
Name[hr]=Primijenite potpunu nadogradnju
GenericName[hr]=Primijenite potpunu nadogradnju
Comment[hr]=Pretražite i primijenite potpunu nadogradnju
Name[hu]=Teljes frissítés alkalmazása
GenericName[hu]=Teljes frissítés alkalmazása
Comment[hu]=Keresés és teljes frissítés alkalmazása
Name[it]=Applicare l'aggiornamento completo
GenericName[it]=Applicare l'aggiornamento completo
Comment[it]=Cerca e applica l'aggiornamento completo
Name[ja]=フルアップグレードを適用する
GenericName[ja]=フルアップグレードを適用する
Comment[ja]=フルアップグレードを検索して適用する
GenericName[lt]=Taikykite visą atnaujinimą
Name[lt]=Taikykite visą atnaujinimą
Comment[lt]=Ieškokite ir taikykite visą atnaujinimą
Name[nl]=Volledige upgrade toepassen
GenericName[nl]=Volledige upgrade toepassen
Comment[nl]=Volledige upgrade zoeken en toepassen
GenericName[pl]=Zastosuj pełną aktualizację
Name[pl]=Zastosuj pełną aktualizację
Comment[pl]=Wyszukaj i zastosuj pełną aktualizację
Name[pt]=Aplicar atualização completa
GenericName[pt]=Aplicar atualização completa
Comment[pt]=Pesquisar e aplicar a atualização completa
Name[ru]=Применить полное обновление
GenericName[ru]=Применить полное обновление
Comment[ru]=Поиск и применение полного обновления
Name[tr]=Tam Yükseltmeyi Uygula
GenericName[tr]=Tam Yükseltmeyi Uygula
Comment[tr]=Tam Yükseltmeyi Ara ve Uygula
Name[zh_CN]=应用全面升级
GenericName[zh_CN]=应用全面升级
Comment[zh_CN]=搜索并应用全面升级
Name[zh_TW]=應用全面升級
GenericName[zh_TW]=應用全面升級
Comment[zh_TW]=搜索並應用全面升級
