[Desktop Entry]
Exec=lxqt-sudo lubuntu-upgrader --cache-update --full-upgrade
Name=Apply Full Upgrade
GenericName=Apply Full Upgrade
Comment=Search and Apply Full Upgrade
Icon=system-software-update
Type=Application
Version=0.1
Categories=System;Settings;
Keywords=upgrade;update
Terminal=false
