[Desktop Entry]
Exec=/usr/libexec/lubuntu-update-notifier/lubuntu-upg-notifier.sh
NoDisplay=true
Name=upgNotifier
Icon=system-software-update
Type=Application
Version=0.1
